BOT_TOKEN=token
APP_PASSWORD=password
HANGFIRE_PASSWORD=123
HANGFIRE_TIMEZONE=FLE Standard Time
CLASSROOMS_JSON=Data/classrooms.json
CODES_JSON=Data/codes.json
GROUPS_JSON=Data/groups.json
LESSONS_JSON=Data/lessons.json
LESSON_RECURRENCES_JSON=Data/lesson_recurrences.json
SUBJECTS_JSON=Data/subjects.json
TEACHERS_JSON=Data/teachers.json
USER_SETTINGS_JSON=Data/user_settings.json
USERS_JSON=Data/users.json